profiles {
    slurm {
        executor {
            name              = 'slurm'
            pollInterval      = '2 min'
            queueStatInterval = '5 min'
            submitRateLimit   = '20/1min'
            queueSize         = 200
            exitReadTimeout   = '10 min'
            dumpInterval      = '5 min'
            queueGlobalStatus = true
        }
        process {
            queue         = { task.time <= 2.h ? 'cpushort' : 'componc_cpu' }
            errorStrategy = {
                if (task.exitStatus in [143, 137, 104, 134, 139, 140, Integer.MAX_VALUE]) {
                    sleep(Math.pow(2, task.attempt) * 2000 as Integer)
                    return 'retry'
                }
                else {
                    return 'finish'
                }
            }
            maxRetries    = 2
            array         = 100
            cache         = 'lenient'
        }
    }
}


process {
    withName: 'NFCORE_NANOSEQ:NANOSEQ:TRANSFER_READ_TAGS:PYSAM_TRANSFER_READ_TAGS' {
        time   = 96.h
        memory = 80.GB
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:SAMTOOLS_VIEW_FASTQ' {
        time = 96.h
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:ALIGN_MINIMAP2:MINIMAP2_ALIGN' {
        time   = 96.h
        cpus   = 20
        memory = 40.GB
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:QCFASTQ_NANOPLOT_FASTQC:NANOPLOT' {
        time   = 24.h
        cpus   = { 8 }
        memory = { check_max(12.GB * task.cpus * task.attempt, "memory") }
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:BEDTOOLS_UCSC_BIGWIG:BEDTOOLS_GENOMECOV' {
        time   = 72.h
        memory = 60.GB
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:RNA_FUSIONS_JAFFAL:JAFFAL' {
        time   = 96.h
        memory = 144.GB
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:CHOPPER' {
        time   = 48.h
        cpus   = 4
        memory = { check_max(80.GB * task.attempt, "memory") }
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:BEDTOOLS_UCSC_BIGBED:BEDTOOLS_BAMBED' {
        time   = 48.h
        cpus   = { 1 }
        memory = { check_max(150.GB * task.attempt, "memory") }
    }
    withName: 'NFCORE_NANOSEQ:NANOSEQ:BEDTOOLS_UCSC_BIGWIG:UCSC_BEDGRAPHTOBIGWIG' {
        time   = 48.h
        cpus   = { check_max(8 * task.attempt, "cpus") }
        memory = { check_max(40.GB * task.attempt, "memory") }
    }
}
